h3 {
  margin: 0px;
}

.container {
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1460px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 60px;
  margin-left: 20px;
  font-family: poppins, sans-serif;
}

.container span {
  margin: 0px;
}

.container h2 span {
  color: var(--p1);
}

.bicicletas {
  display: flex;
  gap: 20px;
}

.bicicletas-items span {
  margin-left: 20px;
}

.bicicletas-items {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  margin-bottom: 30px;
}

.bicicletas-items:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  z-index: 1;
  border-radius: 4px;
}

.bicicletas a h3,span {
  margin-left: 20px;
}

.bicicletas img {
  border-radius: 4px;
  max-width: 100%;
}

.bicicletas h3 {
  font-size: 28px;
  font-family: poppins, sans-serif;
  color: var(--c11);
  position: relative;
  margin-top: 10px;
}

.bicicletas h3::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 8px;
  background: var(--p1);
  top: 20px;
  left: -16px;
}

@media (max-width: 800px) {
  .container h2 {
    font-size: 24px;
    margin-left: 0px;
  }
  
  .bicicletas {
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
  }

  .bicicletas img {
    max-width: 300px;
    flex: 0 0 auto; 
    scroll-snap-align: start; 
    border-radius: 8px;
  }
  .bicicletas h3 {
    font-size: 12px;
  }

  .bicicletas h3::before {
    align-content: center;
  }
  .bicicletas a span {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .bicicletas h3 .preco {
    font-size: 10px;
  }
  .bicicletas-items {
    padding-left: 0px;
  }
  .bicicletas-items img {
    max-width: 250px;
  }
}