body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.escolha {
  max-width: 1600px;
  background: var(--c11);
}

.escolha p {
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: var(--c5);
  margin-left: 100px;
  margin-top: 40px;
  padding: 0px;
} 

.escolha h1 {
  font-family: poppins, sans-serif;
  font-size: 64px;
  margin-left: 100px;
  margin-top: 10px;
  padding-bottom: 40px;
  color: var(--c0);
}

.escolha span {
  color: var(--p1);
  margin: 0px;
}

.bicicleta-sobre {
  display: flex;
  max-width: 1600px;
  margin: 80px 100px;
}

.bicicleta-bikcraft ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: var(--c8);
}

.bicicleta-bikcraft ul li img {
  width: 30px;
}

.bicicleta-img img {
  height: 100%;
  border-radius: 4px;
}

.bicicleta-bikcraft {
  padding-left: 40px;
}

.bicicleta-bikcraft h1 {
  font-family: poppins, sans-serif;
  font-size: 36px;
  color: var(--c11);
  margin-bottom: 10px;
}

.bicicleta-bikcraft p {
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: var(--c8);
  padding: 0px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.bicicleta-bikcraft button {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: var(--p5);
  padding: 5px 14px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid var(--c12);
  border-radius: 4px;
  background: linear-gradient(#ffbf00, #f2a50c);
  display: flex;
  place-self: end;
  position: relative;
  top: -40px;
}

.bicicleta-bikcraft button a {
  padding-right: 10px;
  align-content: center;
}

.bicicleta-bikcraft button img {
  margin: 10px;
}
