body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contatos-bg {
  max-width: 1600px;
  height: 490px;
  background-color: var(--c12);
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}

.contatos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contatos-lista  h3 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: var(--c0);margin-bottom: 40px;
}

.contatos-lista ul li {
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: var(--c5);
  margin-top: 10px;
}

.contatos-rede {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.contatos-info  h3 {
  font-family: roboto, sans-serif;
  font-size: 24px;
  color: var(--c0);
  margin-bottom: 40px;
}

.contatos-info ul li {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: var(--c5);
  margin-top: 10px;
}

p {
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: var(--c6);
  display: inline-block;
}

.local-bg {
  box-sizing: border-box;
  max-width: 1600px;
  width: 100%;
  background: linear-gradient(to top, var(--c0)50%, var(--c11)50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  justify-items: center;
}

.contato-local {
  grid-column: 1;
  background: var(--c12);
  border-radius: 4px;
  padding: 40px;
  
}

.contato-local h2 {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: var(--c0);
  margin-bottom: 40px;
}

.contato-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.contato-item img {
  display: inline-block;
  margin-top: 10px;
}

.contato-item p{
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: var(--c4);
  grid-column: 2;
  margin: 10px 0px;
  margin-left: -80px;
}

.contato-item a {
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: var(--c5);
  margin-left: -80px;
  margin-top: 10px;
}

.formulario-bg {
  grid-column: 2;
  background: var(--c12);
  border-radius: 4px;
  padding: 40px;
  color: var(--c5);
}

form {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;
}

button {
  width: 100%;
  padding: 12px;
  background: var(--p1);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--p2);
}

.locais-bg {
  background-color: var(--c0);
  max-width: 1160px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  font-family: poppins, sans-serif;
  font-size: 64px;
  color: var(--c11);
  padding: 40px;
}

h2 span {
  color: var(--p1);
  margin: 0px;
}

.locais img {
  padding: 20px;
}

.locais h2 {
  font-family: poppins, sans-serif;
  font-size: 32px;
  color: var(--c12);
  padding: 20px;
  margin-left: 20px;
}

.locais-rua {
  display: grid;
  grid-template-columns: 200px 200px;
  padding: 40px;
}

.locais-rua p {
  font-family: roboto, sans-serif;
  font-size: 16px;
  color: var(--c8);
  padding: 10px;
}

.locais p {
  display: flex;
  align-items: center;
  color: var(--c12);
  font-family: poppins, sans-serif;
}

@media (max-width: 800px) {
  .contatos-bg {
    height: 100%;
    padding: 40px;
  }
  .contatos-lista h3 {
    margin-top: 60px;
  }
  .contatos-info h3 {
    margin-top: 60px;
  }
  p {
    padding: 20px;
  }

  .contato-local {
    padding: 0px;
    margin-right: 60px;
  }
  .local-bg {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  .locais-container h2{
    font-size: 50px;
  }
  .formulario-bg {
    grid-column: 1;
    width: 390px;
    margin-top: 20px;
    width: 310px;
    margin-right: 60px;
  }
  .locais-bg {
    display: grid;
    grid-template-columns: 1fr;
  }
  .mapa {
    width: 400px;
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  .contatos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contatos-info h3 {
    margin-top: 80px;
  }
  .mapa {
    width: 350px;
  }
  .locais-container h2 {
    font-size: 38px;
  }
  .locais h2 {
    font-size: 38px;
  }
  .locais-rua {
    padding: 15px;
    
  }
}