.parceiros-bg {
  max-width: 1400px;
  height: 600px;
  background-color: var(--c0);
  padding-top: 40px;
}

.parceiros-bg h2 {
  margin-left: 20px;
  margin-top: 80px;
  padding: 20px;
  font-size: 48px;
  color: var(--c11);
  font-family: poppins, sans-serif;
}

.parceiros-bg h2 span {
  color: var(--p1);
  margin: 0px;
}

.parceiros {
  display: flex;
  padding: 20px;
  gap: 10px;
  margin: 0 auto;
  justify-content: space-around;
}

@media ( max-width: 800px) {
  .parceiros-bg {
    
  }
  .parceiros-bg h2 {
    font-size: 40px;
    margin-top: 20PX;
    margin-left: 20px;
  }

  .parceiros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .parceiros-bg h2 {
    font-size: 32px;
    margin-top: 10PX;
    margin-left: 10px;
  }
}