.seguros-bg {
  background-color: var(--c11);
  max-width: 1600px;
}

.seguros-bg h2 {
  font-family: poppins, sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: var(--c0);
  padding-top: 40px;
  margin-left: 80px;
}

.seguros-bg span {
  margin: 0px;
  color: var(--p1);
}

.seguros {
  display: flex;
  padding: 80px;
}

.seguros-prata {
  background-color: var(--c12);
  display: flex;
  padding: 10px 60px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  height: 350px;
}

.seguro-lista h3 {
  font-family: poppins, sans-serif;
  font-size: 36px;
  color: var(--c6);
}

.seguro-lista {
  font-family: roboto, sans-serif;
  font-size: 18px;
  color: var(--c0);
}

.seguro-lista ul li {
  margin-top: 20px;
}

.seguro-lista ul li img {
  position: relative;
  left: -20px;
  top: 15px;
}

.seguro-lista a {
  font-size: 18px;
  color: var(--c4);
  display: inline-block;
  padding: 14px 16px;
  border-radius: 4px;
  background: var(--c10);
  margin-top: 20px;
  margin-bottom: 20px;
}


.preco h3 {
  font-size: 28px;
  color: var(--c0);
  margin-top: 10px;
  margin-left: 20px;
}

.preco span {
  color: var(--c6);
  margin-left: 60px;
}

.seguros-ouro {
  background-color: var(--c12);
  display: flex;
  padding: 20px 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  height: 500px;
}

.seguros-ouro a {
  background-color: var(--p2);
}

.seguros-ouro .seguro-lista h3 {
  color: var(--p2);
}

@media (max-width: 1100px) {
  .seguros {
    padding: 10px 20px;
    gap: 20px;
    width: 100%;
  }

  .seguros-prata {
    padding: 10px 40px;
  }

  .seguros-ouro {
    padding: 20px 40px;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .seguros {
    display: grid;
    grid-template-columns: 1fr;
  }

}