.vantagens-bg {
  background-color: var(--c12);
  max-width: 1600px;
  box-sizing: border-box;
}

.vantagens-bg h1 {
  font-family: poppins, sans-serif;
  font-size: 64px;
  color: var(--c0);
  padding: 60px;
}

.vantagens-bg span {
  color: var(--p1);
  margin: 0px;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 60px;
}

.vantagem-texto {
  padding: 20px;
}

.vantagem-texto h3 {
  font-family: poppins, sans-serif;
  font-size: 24px;
  color: var(--c0);
}

.vantagem-texto p {
  font-family: roboto, sans-serif;
  font-size: 18px;
  padding: 0px;
  color: var(--c6);
}

.perguntas {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.perguntas-bg h2 {
  font-family: poppins, sans-serif;
  font-size: 48px;
  color: var(--c11);
  padding: 60px;
}

.perguntas-bg span {
  color: var(--p1);
  margin: 0px;
}

.perguntas p {
  font-family: roboto, sans-serif;
  font-size: 18px;
  padding: 20px;
  color: var(--c11);
}

.perguntas p span {
  font-size: 60px;
  padding: 10px;
}

@media (max-width: 768px) {
  .vantagens-itens {
    grid-template-columns: 1fr;
  }
  .vantagem-texto h3 {
    padding: 20px 0px;
  }
  .vantagens-bg h1 {
    font-size: 52px;
    margin-left: 10px;
  }
  .vantagens-bg h1 {
    padding: 40px;
  }
  .vantagens-itens {
    padding: 40px;
  }
}

