.container {
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1460px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 40px;
  margin-left: 40px;
  font-family: poppins, sans-serif;
}

.container h2 span {
  color: var(--p1);
}

.bicicletas {
  display: flex;
  gap: 20px;
}

.bicicletas img {
  border-radius: 4px;
  max-width: 100%;
}

.bicicletas h3 {
  font-size: 32px;
  font-family: poppins, sans-serif;
  color: var(--c11);
}